@font-face {
    font-family: orbitron;
    src: url(./fonts/orbitron/static/Orbitron-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: orbitron;
    src: url(./fonts/orbitron/static/Orbitron-Medium.ttf);
}

@font-face {
    font-family: orbitron;
    src: url(./fonts/orbitron/static/Orbitron-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: titillium;
    src: url(./fonts/titillium/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
    font-family: titillium;
    src: url(./fonts/titillium/TitilliumWeb-SemiBold.ttf);
    font-weight: 700;
}

:root {
    --primary: #0e6e91;
    --black: #244c5f;
    --white: #fff;
    --background: #fafafa;
}

body {
    background-color: var(--background);
    margin: 8px;
    color: var(--black);
    font-family: "titillium";
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "orbitron";
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 0.05rem;
    line-height: 2.10rem;
}

fieldset {
    border: none;
    border-radius: 16px;
    background: var(--background);
    box-shadow: 2px 2px 2px 2px #e2e2e2, 
        -4px -4px 2px 2px var(--white);
}

legend {
    font-family: orbitron;
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 0.05rem;
}

input {
    border: none;
    border-radius: 4px;
    background: var(--background);
    box-shadow: 2px 2px 0px 0px var(--white), 
        -2px -2px 0px 0px #e2e2e2;
    margin: 4px;
    padding: 4px;
    font-family: "orbitron";
    font-weight: 300;
    font-size: 0.85rem;
}

input:focus-visible {
    border: #02e40a;
}